body{
    background-color: rgb(196, 196, 196);
}
.headings{
    color: #f1c100;
     font: bold; 
     font-family:'Segoe UI', Tahoma, Geneva; 
     font-size: 35px;
      background-color: #292826;
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
   
}
h1{
    text-align:center;
    margin: 35px;
    font-size: 60px;
    color: yellow;
     background-color: #575553;
   padding: 10px;
   margin: 35px;
   border: solid 4px rgb(212, 205, 97);
}
p{
    font-family:'Segoe UI', Tahoma, Geneva; 
    font-size: 25px;
    font-style: italic;
    color:black;
    margin: 25px;
    word-spacing: 10px;
    padding: 10px;
}
a{
    font-size: 35px;
    padding: 10px;
    margin: 10px;
    border: solid 2px;
    text-decoration: none;
    color: white;
    background-color: #e2c51e;
    border-radius: 5px;
}
a:hover{
    color: #575553;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
}
img{
    height: 300px;
     align-content: center;
     border-radius: 10px;
     border: solid 2px wheat;
     margin: 30px;
     
}
img:hover{
    transform: scale(1.1);
    transition: var(--transition);
}
th{
    text-align: center;
    color: #e2c51e;
    background-color: #575553;
}
table,th,td{
    border: solid 2px black;
    border-collapse: collapse;
    padding: 10px;
    margin: 20px;
    border-style:groove;
    border: 1.5px solid black;
    font-size: 25px;
   
}

table{
    width: 80%;
   
}
td:nth-child(even){
    color: white;
    background-color: grey;
}
td:nth-child(odd){
    color:rgb(65, 65, 65);
    background-color: rgb(248, 248, 241);
}
td:hover:nth-child(even){
    color:#050505;
    background-color: #119111;
}
td:hover:nth-child(odd){
    color:#050505;
    background-color: #112f91;
}
th:hover{
    background-color: aqua;
    font-size: 35px;
    color: #050505;
}
table:hover{
    transform: scale(0.8);
    transition: var(--transition);
}